*{
    margin: 0px;
 font-family: "Roboto", sans-serif;

}
body{


background-color: antiquewhite;


}

header{

width: 90%;
margin: 50px auto;

justify-content: space-between;
display: flex;

}
.btn{
background-color:rgb(16, 252, 48) ;
font-size: 20px;
color: azure;
padding: 05px 15px;
border-radius: 10px;
border: none;
}
.btn:hover{
background-color:rgb(36, 14, 233) ;
cursor: pointer;
transition: 0.8s;

}

#sectionstyle{
width: 70%;
margin: 0 auto;
margin-bottom: 25px;
}


#sectionstyle>h2{
font-weight: 50px;
font-size: 40px;
text-align: center;
margin-bottom: 25px;
text-shadow: 2px 2px #976161;
}
#sectionstyle>p{
 margin: 0 auto;
width: 50%;
color: blue;
text-align: center;

margin-bottom: 25px;

}
#buy-now-button{

display: flex;
justify-content:center;

}
#cover-section-image{


  width: 70%;  
margin: 50px auto;
}
#cover-section-image img{

  width: 100%;  
}
#search-section{ 
width: 70%;
 margin: 50px auto;
}
#search-section>h2{

text-align: center;
margin-bottom: 25px;
}

#search-container{

width: 50%; 
margin: 0 auto;
border-radius: 10px;
padding: 10px;
background-color: rgb(238, 215, 166);
display: flex;



}
#search-bar{
width: 70%;

}
#search-bar>input[type="text"] {

padding: 10px;
background-color: white;
border: none;
outline: none;
width: 70%;
border-radius: 10px;
}
#Search-button{

  width: 30%;
  display: flex;
  justify-content: right;
}
#card-section{
width: 80%;
margin: 50px auto;
display: grid;
grid-template-columns: repeat(3 ,1fr);
gap: 5px;}
.card{
border: 2px solid gray;
border-radius: 10px;
padding: 20px;

}/*
.card-image{
background-color: white;
display: flex;
justify-content: center;
border-radius: 10px;

}
*/
.card-image img{
width: 100%;
height: 100%;
margin-bottom:20px;
}
.card-title{

  text-align: center;
}
.card-discription{
  text-align: left;
margin-bottom: 20px;

}
#card-item-price{
font-size: 25px;
color:blue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#befor-price{

color:red;
  
}
.api-store-foote{
  background-color: #f0f0ff;
  padding: 40px 0;
}
.footer-content-wrapper{
max-width: 1200px;
margin: 0 auto;
 padding: 0 20px;

}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.footer-actions{
 display: flex;
align-items: center;
gap: 15px;
}
.footer-columns{

  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
}
.footer-column{
list-style: none;
padding: 0;
margin: 0;
}
.footer-column li{

  margin-bottom: 8px;
}
.footer-column li a{

 text-decoration: none;
 color: #555;
}
.social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
   text-decoration: none;
   background-color:blue;
   border: 1px solid #ccc;
   border-radius: 50%;
   font-size: 25px;
   font-weight: bold;
   border-radius: 50%;
   color: #fff;}